.le_p {
    color: orange;
    font-size: 2em;
    text-decoration: underline;
    background-color: aqua;
}
.background-color {
    background-color: aqua;

}
.background-linear-gradient {
   background: linear-gradient(
  to left,
  #333333 40%,
  #eeeeee 75%,
  #333333 75%
);

}
.background-img {
    display:flex;
    justify-content:center;
    align-items:center;
    background-image: url("https://picsum.photos/200/300");
    color: #ffff;

}
.border{
    background-color: rgb(10, 243, 69);
    border: 2px dashed black;
    border-radius: 0 2px 6px;
    display: flex;
  justify-content: center; /* Centre horizontalement */
  align-items: center;     /* Centre verticalement */
  height: 10vh;           /* Prend toute la hauteur de l'écran */

}
.container {
  display: flex;
  justify-content: left; /* Centre horizontalement */
  align-items: left;     /* Centre verticalement */
  height: 100vh;           /* Prend toute la hauteur de l'écran */
}

.box {
  display: flex;
  justify-content: center; /* Centre horizontalement */
  align-items: flex-start; /* Aligne le texte en haut */
  padding-top: 20px;       /* Ajuste cette valeur pour la hauteur voulue */
  
  /* Style de la box */
  width: 200px;
  height: 400px;
  background-color: #55db34be;
  color: white;
  border-radius: 30px;
  border-color: black;
   border-style: solid;
}
.ROUGE {
  color: black;
  text-decoration-line: underline;
  /**/

}
.rond_rouge{
  background-color: red;
  width: 20px;
  height: 20px;
  border-radius: 20px;
}